@use "./assets/mixins.scss" as mixins;

* {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    letter-spacing: 0.1em;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Hanken Grotesk", sans-serif;
    letter-spacing: 0.2em;
    font-weight: 500;
    font-size: 80px;

    @include mixins.phone {
        font-size: 60px;
    }
    @include mixins.tablet {
        font-size: 68px;
    }
}

h3 {
    font-size: 24px;
    padding: 0;
    margin: 0;
}
